/* h1 {
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: bolder;
    color: bisque;
    font-size: 12pt;
}*/

/* MENU */

.menu {
    background-color: rgb(39, 37, 37);
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    border: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100vw;
    overflow: hidden;
}

.name {
    font-size: 2rem;
    margin: auto 1rem;
    color: bisque;
}

.menu a {
    block-size: 5rem 5rem;
    font-size: 1.5rem;
    color: bisque;
    text-decoration: none;
    padding: 2rem;
    display: block;    
    margin: 2rem;
}
.menu a:hover {
    display: inline-block;
    background-color: rgb(255, 228, 196, 0.2);
}

/* HOME */

.Home {
    top: 0;
    width: 100%;
    height: 100vh;
    background-image: url(Images/M1000RRWallpaper.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: absolute;
    z-index: -2;
} 

/* RESUME PAGE*/

.resumepage {
    scrollbar-width: none;
}

/* INTERESTS PAGE */

.InterestsPage {
    background-color: rgb(22, 22, 22);
    scroll-behavior: smooth;

}

.RockClimbingSection h1 {
    font-size: 3rem;
    margin: auto 1rem;
    color: bisque;
    display: block;
    width: 100%;
    background-color: black;
}

.IntElCap {
    background-image: url("Images/ElCapitan.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: local;
    z-index: -2;
    height: 100vh;
}

.IntElCap h2 {
    font-size: 2rem;
    margin: auto 1rem;
    display: block;
    padding: 1rem;
    width: 100%;
    color: bisque;
    background-color: rgb(22, 22, 22);
}

.IntElCap p {
    background-color: rgb(22, 22, 22);
    font-size: 1.5rem;
    color: bisque;
    top: 100vh;
    padding: 1rem;
    display: inline-block;
    width: 30%;
    overflow: visible;
}

/* Motorcycles Page */

.MotorcyclesPage {
    background-color: rgb(22, 22, 22);
    scroll-behavior: smooth;
}

.MotorcyclesPage h1 {
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: bolder;
    color: bisque;
    font-size: 24pt;
    background-color: black;
}

.MotorcyclesWelcome {
    background-image: url("Images/MotorcyclesWelcome.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
    z-index: -2;
    top: 5rem;
}

.MotorcyclesWelcome ul {
    align-content: center;
    list-style: none;
    display: flex;
    z-index: 1;
    padding: 2rem;
    margin-top: 75%;
    margin-left: 0;
}

.MotorcyclesWelcome ul li {
    position: relative;
    margin-right: 20px;
}

.MotorcyclesWelcome ul li a {
    text-decoration: none;
    color: bisque;
    padding: 2rem;
    padding-bottom: 5px;
    display: inline-block;
    font-size: 16pt;
}

.MotorcyclesWelcome ul li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0; /* Start with 0 width */
    height: 2px; /* Thickness of the line */
    background-color: bisque; /* Underline color */
    transition: width 0.3s ease; /* Smooth animation */
}

.MotorcyclesWelcome ul li a:hover::after {
    width: 100%; /* Expand to full width */
}

.MotorcyclesWelcome a {
    color: bisque;
    text-decoration: none;
    font-size: 16pt;
}

.MotorcyclesPage h2 {
    font-size: 4vh;
    color: bisque;
    text-align: left;
    background-color: rgb(22, 22, 22);
    padding: 1rem;
    margin: 0;
    left: 0;
    top: 1rem;
}

.M1000rr {
    background-image: url("Images/M1000rrMotoPage.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
    top: 5rem;
    
}